<div class="container">

  <div style="background-color:purple">Tchat EPSI - {{this.model.value.pseudo}}</div>

  <div class="row">

  <div class="col-1" style="background-color:blue">
    <div class="barreLaterale">Salons</div>
    <app-channel-list></app-channel-list>
  </div>
  <div class="col-10">






    <form class="pseudo" [formGroup]="model" *ngIf="isSubmit === false">
  <h1> Bienvenue, entrez votre pseudo </h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pseudo" formControlName="pseudo">
    </mat-form-field>

    <button mat-raised-button color="warn" type="submit" (click)="sendForm()">Valider</button>
  </form>

  <div *ngIf="isSubmit===true">
          <app-chat-message-list></app-chat-message-list>
  </div>


  </div>














  </div>

</div>
