<app-chat-message
  *ngFor="let chatMessage of chatMessages"
  [chatMessage]="chatMessage"
></app-chat-message>

//New Message
<div class="input_message">
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="newChatMessage"
      class="form-control"
      placeholder="Ecrivez..."
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="addChatMessage()"
        type="button"
      >
        Ajouter
      </button>
    </div>
  </div>
</div>
